body {
	background-color:#eaf0f2;
	font-family: 'Oswald', sans-serif;
}
header{
	background-color:#263238;
	color:#fff;
}

#title{
	font-size:42px;
	font-size: 42px;
	padding:15px 35px;
	line-height: 35px;

}


/*-------------------drop Menu Styling --------------------------*/
.main-nav{
 	display:inline-block;
 	list-style:none;
 	height:75px;
 	font-size: 25px;
 	margin-bottom:0px;
/* 	margin-left:15px;*/
 	margin-top:0px;
 }

 .main-nav li {
	padding:30px 60px 5px 60px;
    display:inline-block;
    text-align: center;   
}

/*change the color of the menu item on hover */
.main-nav li a:link, 
.main-nav li {
    color: #fff;
    text-decoration:none;
}


.main-nav li:hover,
.main-nav li:active{
	background-color: #546E7A;
}


/* The container <div> - needed to position the drop content */
.drop {
    position: relative;
    display: inline-block;
}

/* drop Content (Hidden by Default) */
.drop-content {
    display: none;
    position: absolute;

    background-color:#263238;
    width:100%;
    z-index: 1;
}

/* Links inside the drop */
.drop-content a {
	height:45px;
	margin-top: 0;
	line-height: 45px;
    color: #A9A9A9;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Change color of drop links on hover */
.drop-content a:hover {
	background-color: #CFD8DC;
	transition: background-color 0.6s;
}

/* Show the drop menu on hover */
.drop:hover .drop-content {
    display: block;
}

/*change the color of the menu item when sublist is hovered*/

.drop:hover li {
    background-color: #546E7A;
}

/*----------------Section-------------------*/

section h1{
	padding-top:50px;
	font-size:35px;
	padding-left:30px;
	color:#263238;
	font-weight: 700;
}
section img {
	padding-left:30px;
	padding-bottom:80px;
	width:41%;
}

/*----------------begin footer--------------*/
footer{
	background-color:#263238;
	color:#fff;
	text-align: center;
	font-weight: 700;
	}

footer h1{
	padding-top: 40px;
	color:#A9A9A9;
	padding-bottom:15px;
}
.footerNav{
	 	display:inline-block;
 	list-style:none;
 	padding-left:0px;

}
 .footerNav li {
 	font-size:1.2em;
	padding:5px 5px;
    display:inline-block;
    text-align: center;   
    
}
footer h4 {
	color:#A9A9A9;
	padding-bottom:30px;

}