body {
	box-sizing: border-box;
}

img {
	width: 400px;
	text-align: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
    align-content: center;
    flex-flow: row wrap;
    
}

.flex-item {
    background-color: cornflowerblue;
   	margin: 10px auto;
  

}


/*desktop*/


